@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Версия с весом папок</h1>
    <p><a href="https://localhost:5001/DirOrFile">localhost:{port}/DirOrFile</a>.</p>
    <h1 class="display-4">Версия без веса папок</h1>
    <p><a href="https://localhost:5001/DirOrFileWithoutDSP">localhost:{port}/DirOrFileWithoutDSP</a>.</p>
</div>
